.about-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.about-text {
    justify-self: center;
    align-items: flex-start;
    font-size: x-large;
}

.first-text {
    color: #545454;
    font-weight: bold;
    margin-bottom: 10px;
}

.second-span {
    background-color: #FFBF00;
    border-radius: 12px;
    width: 75%;
    text-align: center;
}

.second-text {
    color: white;
    padding: 5px;
}

.third-text {
    font-weight: bold;
    color: #545454;
    font-style: italic;
    margin-top: 20px;
}

.foodie-text {
    color: #D97918;
}

.burger-img {
    border-radius: 50%;
    border: 5px solid #D97918;
    background-color: #FFBF00;
}