.footerContainer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #FFBF00;

}

.footer-text {
    padding-top: 10px;
    padding-bottom: 20px;
    overflow-y: hidden;
}

.heart {
    color: red;
}