.search-container {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-bar {
    width: 30%;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    font-size: 12px;
}